@use "../styles.scss" as *;

.footer-container {
    background-color: #282b28;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 1.5rem;
        font-weight: bolder;
        line-height: 1.15;
        font-family: $title-font;
        color: white;
        overflow: hidden;
        
    }
}