@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
$main-bg: white;
$gray-bg-color: #f9f9f9;
$text-title-color: black;
$text-color: #767676;
$text-color-dark: #2d2e32;
$highlight-color: #147efb;
$title-font: "Poppins", sans-serif;
$text-font: "Mulish", sans-serif;
$font-size-header: 1.25rem;



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}